html {
  font-family: 'Muli', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'Muli', sans-serif;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  color: #a4ecff;
}

a {
  color: #a4ecff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: underline;
  color: #2cccd8;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.45rem 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

p {
  margin: 0;
  color: #94ada8;
  font-weight: 300;
}

header {
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  transition: 0.4s
}

header #logo {
  width: 50px;
  height: 50px;
  margin: 0 5%;
  background-image: url('../images/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

header h1 {
  font-size: 1.3rem;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 50%;
}

header nav a {
  margin-right: 10%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45vh;
  display: flex;
  align-items: center;
  background-color: #000026;
}

footer h5 {
  margin-bottom: 0.3rem;
  font-size: 1em;
}

footer .footer-tri {
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 38vh 100vw 0 0;
  border-color: transparent #372109b3 transparent transparent;
}

footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 85%;
}

footer .footer-info, footer .contact {
  width: 50%;
  z-index: 4;
}

footer .contact a {
  display: block;
}

footer .contact a i {
  margin: 0 5% 0 0;
  font-size: 1.3rem;
}

.bg-container {
  position: relative;
  z-index: 2;
  margin-bottom: 44vh;
  background-image: url('../images/bg1.gif');
  background-size: contain;
  background-blend-mode: overlay;
  background-color: #00000084;
}

.bg-container::before,
.bg-container::after {
  background-blend-mode: overlay;
  background-color: #00000084;
}

.tri {
  position: absolute;
  bottom: calc(-75px + 1px);
  left: 0;
  z-index: 2;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 100vw 75px 0;
  border-color: transparent #101027 transparent transparent;
}

@keyframes float1 {
  0% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(-30px);
  }
}

@keyframes float2 {
  0% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(20px);
  }
}

@keyframes float3 {
  0% {
    transform: translateY(40px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(40px);
  }
}

.hero-tri {
  border-style: solid;
  opacity: 0.4;
}

.tri-one {
  animation: float1 4s infinite;
  border-width: 230px 150px 40px 0;
  border-color: transparent #c3ffa4 transparent transparent;
}

.tri-two {
  animation: float2 4s infinite;
  width: 50px;
  transform: rotate(196deg);
  border-width: 220px 50px 0 0;
  border-color: transparent #7b7228 #7b7228 transparent;
}



.tri-four {
  animation: float3 4s infinite;
  transform: rotate(230deg);
  border-width: 40px 80px 20px 0;
  border-color: transparent #6e3f11 transparent transparent;
}

.hero {
  display: grid;
  align-items: center;
  grid-template-columns: 10% 15% 1fr 20% 5%;
  height: 100vh;
  text-align: center;
  font-size: 1.2rem;
}

.hero h3 {
  font-weight: 300;
}

.content-wrapper {
  position: relative;
  width: 85%;
  margin: 8% auto 0;
}

.content {
  padding: 20px 0 70px 0;
  background-color: #10202dab;
  color: #94ada8;
  background-image: url("../images/circuit-board.svg");
}

.content-wrapper .post-img {
  width: 100%;
  height: 40vh;
}

.content .post-link {
  width: 85%;
  margin: 5% auto;
}

.content .post-link h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}


.content .post-link a {
  color: #94ada8;
}

.content .post-link p {
  margin-bottom: 10px;
}

.content .post-link .grid {
  display: grid;
  grid-template-columns: 1fr;
}

.content .post-link .grid .post-thumbnail {
  grid-row-start: 1;
  margin-bottom: 5%;
}

.content .post-link a:hover {
  cursor: pointer;
}

.content .post-body {
  width: 85%;
  margin: 5% auto;
}

.content .post-nav {
  display: flex;
  justify-content: space-around;
  max-width: 50%;
  height: 10vh;
  margin: 8% auto;
}

.content .post-nav .arrow-link a:hover {
  text-decoration: none;
}

.content .post-nav .arrow-link .far {
  display: block;
  margin: 0 0 3% 0;
  font-size: 1.6rem;
  text-align: center;
}

.about {
  position: relative;
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 45% 0;
}

.about .about-head {
  display: flex;
  align-items: baseline;
  font-size: 1.3rem;
}

.about .about-head h2 {
  margin-right: 5%;
  font: 1.8rem;
}

.about #my-photo {
  width: 180px;
  height: 180px;
  margin: 2%;
  float: right;
  border-radius: 50%;
}

@media only screen and (min-width: 770px) {
  header #logo {
    width: 80px;
    height: 80px;
  }

  footer .footer-wrapper {
    width: 65%;
  }

  .hero {
    font-size: 1.8rem;
  }

  .content-wrapper {
    width: 65%;
  }

  .content .post-link .grid {
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 2%;
    align-items: end;
    margin-bottom: 1rem;
  }

  .content .post-link .grid .post-thumbnail {
    grid-row-start: initial;
    margin: 0;
  }

  .content .post-body {
    width: 75%;
  }

  .about {
    width: 65%;
    height: 100vh;
    padding: 0;
  }

  .about #my-photo {
    width: 220px;
    height: 220px;
  }
}
