html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  color: white;
}

a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2.25rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.45rem 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

header {
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  transition: 0.4s
}

header #logo {
  width: 60px;
  height: 60px;
  margin: 0 5%;
  background-image: url('../images/favicon.png');
  background-size: contain;
  border-radius: 50%;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 20%;
  margin: 0 5% 0 0;
}

footer {
  /* position: absolute;
  bottom: 0;
  z-index: -2; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 36vh;
  background-color: #020229;
}

footer p {
  margin-bottom: 5%;
}

.bg-container {
  position: inherit;
  z-index: 2;
  background-image: url('../images/bg.jpg');
  background-size: cover;
}

.index-layout {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%
}

/* @keyframes triangle {
  from {
    transform: rotate(35deg);
  }

  to {
    transform: rotate(135deg);
  }
} */

.tri {
  position: absolute;
  bottom: calc(-75px + 1px);
  z-index: 2;
  right: 0;
  width: 0;
  height: 0;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  /* opacity: 0.7; */
  /* animation: triangle 5s 1; */
  /* transform: rotate(35deg);
  transform: translateX(-100px); */
  border-style: solid;
  border-width: 75px 100vw 75px 0;
  border-color: transparent #080821 transparent transparent;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.posts {
  width: 70%;
  margin: 10% auto 0;
  /* border: 0.6px solid; */
  padding: 40px;
  background-color: rgba(35, 35, 35, 0.8)
}

.posts .post-link {
  width: 65%;
  height: 100px;
  margin: 5% auto;
  padding: 0 0 70px 0;
  color: white;
  border-bottom: solid 0.5px white;
  opacity: 0.6;
}

.posts .post-link:last-of-type {
  border-bottom: none;
}

.posts .post-link a:hover {
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  height: 60vh;
  margin: 0 auto;
}
